html, body{
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background-color: #F5F5F5;
}
section{
    flex: 1 0 auto;
    max-width: 1200px;
    margin: 3% auto;
    display: flex;
}
footer{
    flex: 0 0 auto;
}
.news{
    flex: 7;
}
.sidebar{
    flex: 3;
}
.aside{
    position: sticky;
    top: 20px;
    box-sizing: border-box;
    margin-left: 20px;
}
.articleNews{
    background-color: #ffffff;
    border-bottom: 1px solid #eeeeee;
    position: relative;
    box-sizing: border-box;
    padding: 10%;
}
.articleNews:last-child{
    border-bottom: none;
}
.articleNews__img{
    width: 100%;
    padding-bottom: 10px;
}
.articleNews__h3{
    margin-bottom: .2em;
}
.articleNews__h3 a{
    line-height: 1.3;
    font-size: 40px;
    font-weight: 400;
    color: #3a3a3a;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
}
.articleNews__heading{
    line-height: 1.45;
    color: #0274be;
    font-family: "Roboto", sans-serif;
}
.articleNews__heading a{
    text-decoration: none;
    color: #0274be;
}
.articleNews__preview{
    padding-top: 20px;
    margin-bottom: 25px;
    text-align: justify;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #3a3a3a;
    line-height: 1.85714285714286;
}
.articleNews__readMore{
    color: #0274be;
    font-family: "Trebuchet MS", sans-serif;
    display: inline-block;
    font-weight: 300;
    font-size: 15px;
    text-decoration: none;
}
.aside__search {
    position: relative;
    width: 100%;
    margin: 0 0 20px 0;
}
.aside__search__input, .aside__search__button {
    border: none;
    outline: none;
    background: transparent;
}
.aside__search__input {
    box-sizing: border-box;
    width: 100%;
    font-size: 15px;
    background: #fafafa;
    border-radius: 2px;
    padding: 16px 45px 16px 15px;
    border: 1px solid #eaeaea;
    color: #666666;
}
.aside__search__button {
    height: 50px;
    width: 50px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    border-right: 1px solid #eaeaea;
}
.aside__search__button i{
    font-size: 16px;
}
.aside__result-search{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background-color: #eeeeee;
    display: none;
}
.aside__result-search h3, .aside__result-search a{
    font-size: 22px;
    font-weight: 400;
    color: #3a3a3a;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    padding: 10px;
}
.aside__result-search div{
    text-align: center;
}
.aside__result-search a{
    margin: 10px;
    cursor: pointer;
    color: #0274be;
}
.aside__pages{
    margin-bottom: 20px;
    text-align: center;
}
.aside__pages__h3{
    width: 100%;
    font-family: "Roboto", sans-serif;
    font-size: 21px;
    color: #6A6A6A;
    font-weight: 400;
    margin-bottom: 0.5em;
    line-height: 1.5;
}
.aside__pages__page{
    font-family: "Roboto", sans-serif;
    position: relative;
    display: inline-block;
    border: none;
    padding: 10px;
    height: 45px;
    width: 45px;
    margin-bottom: 5px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 2px;
    color: #479acf;
    font-size: 18px;
    border-radius: 40px;
    background: #F5F5F5;
    box-shadow: -2px -2px 8px rgba(255, 255, 255, 1),
    -2px -2px 12px rgba(255, 255, 255, 0.5),
    inset 2px 2px 4px rgba(255, 255, 255, 0.1),
    2px 2px 8px rgba(0, 0, 0, 0.15);
}
.aside__pages__page:hover{
    box-shadow: inset -2px -2px 8px rgba(255, 255, 255, 1),
    inset -2px -2px 12px rgba(255, 255, 255, 0.5),
    inset 2px 2px 4px rgba(255, 255, 255, 0.1),
    inset 2px 2px 8px rgba(0, 0, 0, 0.15);
}
.aside__pages__page:focus{
    outline: none;
}
.aside__pages__page:hover span{
    display: inline-block;
    transform: scale(0.95);
}
.result-search{
    display: block;
    background-color: #eeeeee;
}
.result-search__h3{
    font-size: 25px;
    font-weight: 400;
    color: #3a3a3a;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    padding: 25px 20px;
}
.activePage{
    box-shadow: inset -2px -2px 8px rgba(255, 255, 255, 1),
    inset -2px -2px 12px rgba(255, 255, 255, 0.7),
    inset 2px 2px 4px rgba(255, 255, 255, 0.5),
    inset 2px 2px 8px rgba(0, 0, 0, 0.3) !important;
    border: none;
}
.up{
    display: none;
}
@media all and (max-width:1300px){
    .section{
        padding: 0 2%;
    }
}
@media all and (max-width:767px){
    .articleNews__h3 a{
        font-size: 30px;
    }
    .sidebar{
        order: 1;
    }
    .news{
        order: 2;
    }
    .section{
        flex-direction: column;
    }
    .aside{
        margin-left: 0;
        position: static;
    }
    .aside__result-search{
        margin-bottom: 10px;
    }
    .up{
        margin: 20px auto 0;
        display: inline;
        order: 3;
        text-align: center;
        padding: 10px 15px;
        width: 300px;
        background-color: #0274be;
        cursor: pointer;
        border-radius: 10px;
    }
    .up__span{
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        color: #000000;
        font-weight: 400;
    }
}
@media all and (max-width:420px){
    .articleNews__h3 a{
        font-size: 20px;
    }
}